.about-me {
  width: 1400px;
  margin: 0 auto;
  height: auto;
  background-color: #fffbf5;
}

.about-me-bg {
  height: 100px;
  background-color: #edc339;
  box-shadow: inset -300px -52px 0 0 #fffbf5;
  text-align: end;
  padding-right: 140px;
  padding-bottom: 180px;
  margin-bottom: 80px;
}

.quote1 {
  font-family: 'Noto Serif Display', serif;
  font-size: 6.4rem;
  font-weight: 200;

  display: block;
  color: #034968;
}

.quote2 {
  font-family: 'Noto Serif Display', serif;
  font-size: 5.2rem;
  font-weight: 200;

  display: block;
  color: #034968;
}

.about-me-text {
  font-family: 'Montserrat', serif;
  font-size: 2rem;
  color: #393739;
  width: 1000px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 100px;
  align-self: center;
}

.lista-me {
  padding: 0 30px;
}

.lista-me li {
  padding-bottom: 10px;
}
