.curriculum {
  width: 1400px;
  margin: 0 auto;
  height: auto;
  background-color: #fffbf5;
}

.curriculum-bg {
  height: 100px;
  background-color: #edc339;
  box-shadow: inset -300px -52px 0 0 #fffbf5;
  text-align: end;
  padding-right: 140px;
  padding-bottom: 180px;
}

.curriculum-title1 {
  font-family: 'Noto Serif Display', serif;
  font-size: 6.4rem;
  font-weight: 200;
  text-align: start;
  display: block;
  color: #034968;
  padding-left: 180px;
}

.curriculum-title2 {
  font-family: 'Noto Serif Display', serif;
  font-size: 6.4rem;
  font-weight: 200;
  text-align: start;
  display: block;
  color: #034968;
  padding-left: 70px;
}

.curriculum-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Darker Grotesque', serif;
  padding: 0 250px;
  padding-bottom: 60px;
}

.curriculum-header {
  grid-column: 1 / -1;
  text-align: center;
  position: relative;
  padding-bottom: 13px;
}

.curriculum-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border-bottom: 2px solid #2f2f2f;
}

.curriculum-header h2 {
  font-size: 5.2rem;
  font-weight: 200;
}

.curriculum-header p {
  font-size: 2.3rem;
}

.curriculum-content h3 {
  font-size: 5.2rem;
  font-weight: 300;
}

.curriculum-esq p {
  font-size: 1.8rem;
  padding-left: 30px;
  padding-right: 30px;
}

.curriculum-esq span {
  font-size: 2rem;
  font-weight: 500;
  padding-left: 30px;
}

.curriculum-dir p {
  font-size: 1.8rem;
  padding-left: 30px;
  padding-right: 30px;
}

.curriculum-dir span {
  font-size: 2rem;
  font-weight: 500;
  padding-left: 30px;
}

.dl-resume {
  width: 1400px;
  margin: 0 auto;
  height: auto;
  background-color: #fffbf5;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Darker Grotesque', serif;
  font-weight: 500;
  line-height: 13px;
  padding-bottom: 20px;
}

.dl-resume span img {
  width: 34px;
}
