.portfolio {
  width: 1400px;
  margin: 0 auto;
  height: auto;
  background-color: #fffbf5;
}

.portfolio-bg {
  height: 100px;
  background-color: #edc339;
  box-shadow: inset -300px -52px 0 0 #fffbf5;
  text-align: end;
  padding-right: 140px;
  padding-bottom: 180px;
}

.portfolio-title1 {
  font-family: 'Noto Serif Display', serif;
  font-size: 6.4rem;
  font-weight: 200;
  text-align: start;
  display: block;
  color: #034968;
  padding-left: 180px;
}

.portfolio-title2 {
  font-family: 'Noto Serif Display', serif;
  font-size: 6.4rem;
  font-weight: 200;
  text-align: start;
  display: block;
  color: #034968;
  padding-left: 70px;
}

.portfolio-content {
  height: auto;
  background-color: #fffbf5;
  width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 80px;
  padding-bottom: 100px;
}

.portfolio-content h2 {
  grid-column: 1/-1;
  font-family: 'Noto Serif Display', serif;
  font-size: 4.4rem;
  font-weight: 200;
}

.cards-portfolio {
  background-color: #e7e2df;
  width: 280px;
  height: 180px;
  align-self: center;
  border-radius: 7px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.header-img-card {
  width: 100%;
  object-fit: cover;
  height: 100px;
  border-radius: 7px 7px 0 0;
  margin-bottom: 10px;
}

.cards-portfolio p {
  text-align: center;
}

.icons {
  width: 42px;
}

.card-content {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-family: 'Montserrat', serif;
  font-size: 1.6rem;
}

.effect {
  top: 0px;
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-out;
  &:hover {
    transition: all 0.3s ease-out;
    top: -13px;
    background-color: white;
  }
  &:hover:before {
    transform: scale(2.15);
  }
}

.card-content p {
  padding-left: 10px;
}

.negrito {
  font-weight: 600;
}
