.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: #edc339;
  width: 1400px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: #034968;
}

.lang-switcher {
  background-color: rgba(#503e03, 0.5);
  padding: 10px;
}

.lang-icon {
  width: 32px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.lang-icon:hover {
  cursor: pointer;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0a5372;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
